// // BUTTONS

.clickable{
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a[rel~="tag"] {
	background: $blue;
	color: white;
	padding: .25em .5em;
	float:right;
	@include rounded(2px);
}
a[rel~="tag"]:link,
a[rel~="tag"]:active,
a[rel~="tag"]:visited,
a[rel~="tag"]:hover{
	color:white !important;
}



.menu li a[href^="https://sharepoint"]:after{
	content: url('../images/lock.png');
}
